# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# VSCode or PyCharm project settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS and Windows system files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Log files and raw data
*.log
*.sqlite
*.db
